:root{
    --dark-white-bg: #DDDDDD;
    --light-white-bg: #EEEEEE;
    --dark-green-bg: #658864;
    --light-green-bg: #B7B78A;
    --black-bg: #2C3639;

    --image-bg: url('https://i.pinimg.com/564x/ba/e1/9b/bae19bbdc942508c2ef4e76b22a39537.jpg')
}

body{
    margin: 0;
    min-height: 100vh;
    background: var(--dark-white-bg);

    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-body{
    background: var(--dark-green-bg);
    
    border-radius: 60px;
    height: 900px;
    width: 490px;

    display: flex;
    justify-content: center;
    align-items: center;


    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
                rgba(0, 0, 0, 0.09) 0px 4px 2px, 
                rgba(0, 0, 0, 0.09) 0px 8px 4px, 
                rgba(0, 0, 0, 0.09) 0px 16px 8px, 
                rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.phone-screen{
    /* background: var(--light-white-bg); */

    background-image: var(--image-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;


    height: 860px;
    width: 456px;

    border-radius: 50px;

    position: relative;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.phone-body:after{
    /* notch */
    content: "";
    background: var(--dark-green-bg);
    width: 300px;
    height: 65px;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    position: absolute;
    top: 210px;

}

.phone-speaker{
    width: 150px;
    height: 10px;
    border-radius: 5px;
    background: var(--black-bg);

    z-index: 1;

    position: absolute;
    top: 230px;
}

.phone-speaker::before,
.phone-speaker::after{
    content: "";
    background: var(--black-bg);
    width: 20px;
    height: 20px;
    border-radius: 50%;

    left: -30px;
    top: -5px;
    position: absolute;
}

.phone-speaker::after{
    left: 160px;
    top: -5px;

}

