h1{
    color: black;
}

div{
    text-align: center;
    background-color: aqua;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* # is used to declare id */
#myheader{
    color: wheat;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}
