.btn{
    border: 10px solid var(--color, black);
    border-radius: 50px;
    margin: 10px;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    
}

.btn:hover{
    background-color: var(--color, black);
    color: white;
    
}

/* var for colors */

.btn.red{
    --color: red;
}

.btn.blue{
    --color: blue;
}

.btn.olive{
    --color: olive;
}

.btn.green{
    --color: green;
}

.btn.orange{
    --color: orange;
}