:root{
    --one: #D8D9CF;
    --two: #EDEDED;
    --three: #FF8787;
    --four: #E26868;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.name{
    width: 900px;
    font-size: 30px;
    font-weight: bold;
}

.align-container{
    width: 600px;
    height: 150px;
    background: var(--one);
    border: 2px solid;

    display: flex;
    margin-left: 50px;
}

.align-container div:first-child,
.align-container div:last-child {
    font-size: 20px;
}

/* ----- Items ------- */
.item{
    background: var(--four);
    width: 150px;
    border: 1px solid;
}



.fixed-height{
    height: 125px;
}

.min-height{
    min-height: 125px;
}

.max-height{
    max-height: 125px;
}
/* ------------------------- */


.flex-start{
    align-items: flex-start;
}

.flex-end{
    align-items: flex-end;
}

.center{
    align-items: center;
}

.baseline{
    align-items: baseline;
}

